@import "tailwindcss";

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

button {
    cursor: pointer;
}

button,
button:focus,
button:active {
    border: none;
}

.bodyFixed {
    overflow: hidden;
}

body {
    font-family: "Open Sans", sans-serif;
}

.hide-scrollbar {
    /* For Firefox */
    scrollbar-width: none;

    /* For Internet Explorer and Legacy Edge */
    -ms-overflow-style: none;
}

/* For Chrome, Safari, and Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}