@import "tailwindcss";

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

button {
    cursor: pointer;
}

button,
button:focus,
button:active {
    border: none;
}

.bodyFixed {
    overflow: hidden;
}

body {
    font-family: "Open Sans", sans-serif;
}